<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">A2-ProJ</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']"><a [routerLink]="['home']">{{'headerNavbar.Home' | translate}}</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['products']">{{'headerNavbar.Products' | translate}}</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['about']">{{'headerNavbar.About' | translate}}</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['cart']">{{'headerNavbar.Cart' | translate}} <span *ngIf="productsQuantity !== 0">({{productsQuantity}})</span></a></li>
      <li class="dropdown pointer" dropdown>
        <a dropdownToggle class="dropdown-toggle">{{'headerNavbar.Language' | translate}}<span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li *ngFor="let lang of translate.getLangs();" role="menuitem" [value]="lang">
            <a class="dropdown-item" (click)="onChangeLanguage(lang)">{{lang}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
