<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col-xs-12 form-group required">
          <label class="control-label">{{'checkout.card-name' | translate}}</label>
          <input class="form-control" placeholder="{{'checkout.card-name-placeholder' | translate}}" type="text" id="checkout.name" formControlName="name" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-xs-12 form-group card required">
          <label class="control-label">{{'checkout.card-number' | translate}}</label>
          <input autocomplete="off" [card-number]="userForm.controls['card']" class="form-control card-number" tooltip="{{'checkout.card-number-tooltip' | translate}}" placement="right" placeholder="{{'checkout.card-number-placeholder' | translate}}" type="text" id="checkout.card" formControlName="card" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-xs-4 form-group cvc required">
          <label class="control-label">{{'checkout.card-cvc' | translate}}</label>
          <input autocomplete="off" class="form-control card-cvc" placeholder="{{'checkout.card-cvc-placeholder' | translate}}" type="text" id="checkout.cvc" formControlName="cvc" required>
        </div>
        <div class="col-xs-4 form-group expiration required">
          <label class="control-label">{{'checkout.card-expiration' | translate}}</label>
          <input class="form-control card-expiry-month" placeholder="{{'checkout.card-month' | translate}}" type="text" id="checkout.month" formControlName="month" required>
        </div>
        <div class="col-xs-4 form-group expiration required">
          <label class="control-label"> </label>
          <input class="form-control card-expiry-year" placeholder="{{'checkout.card-year' | translate}}" type="text" id="checkout.year" formControlName="year" required>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12 form-group">
          <button class="form-control btn btn-primary submit-button" type="submit" [disabled]="!userForm.valid">{{'checkout.pay' | translate}} {{cartService.getTotalPrice() | currency:'USD':true:'1.2'}}</button>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12 form-group">
        <div *ngIf="formErrors.name" class="alert alert-danger">
          {{ formErrors.name }}
        </div>
        <div *ngIf="formErrors.card" class="alert alert-danger">
          {{ formErrors.card }}
        </div>
        <div *ngIf="formErrors.cvc" class="alert alert-danger">
          {{ formErrors.cvc }}
        </div>
        <div *ngIf="formErrors.month" class="alert alert-danger">
          {{ formErrors.month }}
        </div>
        <div *ngIf="formErrors.year" class="alert alert-danger">
          {{ formErrors.year }}
        </div>
        </div>
      </div>
    </form>
  </div>
</div>
