.submit-button {
  margin-top: 10px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442;
  /* red */
}

.ng-pristine {
  border-left: 1px solid #ccc;
}

.alert {
  padding: 15px;
  margin-bottom: 0px;
}