.product-loader {
  opacity: 0.3;
}

.loader-image {
  background: url(/assets/images/loader.gif);
  height: 20px;
  width: 20px;
  z-index: 1;
}

.icon-delete {
  color: white;
}

.button-delete {
  height: 30px;
  width: 40px;
  background-color: #f44336;
  border-radius: 2px;
  border: none;
}