<h4 *ngIf="cartProducts.length === 0">{{'cart.haveNoGoods' | translate}}</h4>
<table *ngIf="cartProducts.length !== 0" class="table">
  <thead>
    <tr>
      <th># {{'cart.order' | translate}}</th>
      <th>{{'cart.quantity' | translate}}</th>
      <th>{{'cart.nameProduct' | translate}}</th>
      <th>{{'cart.price' | translate}}</th>
      <th>{{'cart.subtotal' | translate}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cartProduct of cartProducts; let i = index">
      <th>№{{i+1}}</th>
      <th><input type="text" class="form-control" id="quantity{{cartProduct.product.id}}" required [(ngModel)]="cartProduct.quantity" (ngModelChange)="onQuantityChanged(cartProduct)" name="quantity"></th>
      <th [ngClass]="{'product-loader': isPending()}"><img *ngIf="isPending();" src="/assets/images/loader.gif" class="loader-image"> {{cartProduct.product.name}}</th>
      <th>{{cartProduct.product.price | currency:'USD':true:'1.2'}}</th>
      <th>{{cartProduct.product.price * cartProduct.quantity | currency:'USD':true:'1.2'}}</th>
      <th><button class="button-delete" (click)="onRemoveCartProduct(cartProduct)"><i class="icon-delete glyphicon glyphicon-trash" aria-hidden="true"></i></button></th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>{{'cart.total' | translate}}</th>
      <th>{{totalPrice | currency:'USD':true:'1.2'}}</th>
    </tr>
  </tbody>
</table>
<div *ngIf="cartProducts.length !== 0" class="row">
  <button class="btn btn-success" routerLink="/checkout">{{'cart.addButton' | translate}}</button>
</div>
