<div *ngIf="pending" class="loader"></div>
<pagination *ngIf="products.length && count < total" [totalItems]="total" [(ngModel)]="page" [itemsPerPage]="count" (pageChanged)="onPageChanged($event)"></pagination>

<app-product [product]="product" *ngFor="let product of products;" id="#{{product.id}}" class="col-sm-6 col-md-4">
</app-product>
