<div class="thumbnail my-thumbnail">
  <img src="{{product.image}}" alt="{{product.name}}" />
  <div class="caption">
    <h3>{{product.name}}</h3>
    <p>{{product.description}}</p>
    <div class="row">
      <p class="lead col-md-4">{{product.price | currency:'USD':true:'1.2'}}</p>
      <p class="col-md-4 col-md-offset-4" *ngIf="product.quantity > 0">{{'product.quantityYes' | translate}} {{product.quantity}}</p>
      <p class="col-md-4 col-md-offset-4" *ngIf="product.quantity == 0">{{'product.quantityNo' | translate}}</p>
    </div>
    <button type="button" class="btn btn-success" (click)="addToCart(product)">{{'product.addButton' | translate}}</button>
  </div>
</div>
