.popup {
  width: 250px;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 9999;
}

.loader {
  background: url(assets/images/loader.gif) no-repeat center;
  position: fixed;
  width: 100%;
  height: 50%;
  z-index: 1;
}
